{% extends 'base.html.twig' %}

{% block title %}: Account{% endblock %}

{% block body %}

    <div class="accordion" id="accordion-1">
        <div class="mb-2">
            <button class="btn accordion-btn no-effect color-theme rounded account-heading fs-4 fw-normal" data-bs-toggle="collapse" data-bs-target="#collapse1">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="flex-shrink-0" style="width: 50px;">
                        <i class="fa-solid fa-heart color-red-dark me-2"></i>
                    </div>
                    <div class="flex-grow-1">
                        Favorite Routines
                    </div>
                    <div class="flex-shrink-0">
                        <i class="fa fa-chevron-down font-10 accordion-icon"></i>
                    </div>
                </div>
            </button>
            <div id="collapse1" class="collapse" data-bs-parent="#accordion-1">
                <div class="pt-3 pb-2 ps-3 pe-3">
                    {% if hasFavorites %}
                    <div class="list-group list-custom-small">
                        {% for routine in favorites %}
                        <div class="list-group-workout-item text-uppercase fs-4 my-favorite-routine-{{ routine.id }}">
                            <div class="row">
                                <div class="col-12 col-md-8 text-center text-md-start">
                                    <span class="view-routine routine-name routine-name-{{ routine.id }}" data-id="{{ routine.id }}">{{ routine.name }}</span>
                                    <input
                                            id="routine-name-{{ routine.id }}"
                                            type="text"
                                            class="d-none form-control fs-2 edit-routine-name"
                                            value="{{ routine.name }}"
                                            name="routine-name"
                                            data-id="{{ routine.id }}"
                                    />
                                </div>
                                <div class="col-12 col-md-4 text-center text-md-end fs-6" style="letter-spacing: 15px;">
                                    <span><i class="fa-regular fa-eye view-routine" data-id="{{ routine.id }}"></i></span>
                                    {# <span><i class="fa-regular fa-pen-to-square edit-routine edit-routine-{{ routine.id }}" data-id="{{ routine.id }}"></i></span> #}
                                    {# <i class="fa-solid fa-check color-green-light save-routine-{{ routine.id }} d-none"></i> #}
                                    <span><i class="fa-regular fa-trash delete-favorite" data-id="{{ routine.id }}"></i></span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="pt-3 pb-3">
                        <p class="fs-4" style="line-height: 32px;"><span>You have not favorited any routines yet. On the home page, click on the heart icon when you like a routine.</span></p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mb-2">
            <button class="btn accordion-btn no-effect color-theme rounded account-heading fs-4 fw-normal" data-bs-toggle="collapse" data-bs-target="#collapse4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="flex-shrink-0" style="width: 50px;">
                        <i class="fa-solid fa-star color-blue-dark me-2"></i>
                    </div>
                    <div class="flex-grow-1">
                        AI Generated
                    </div>
                    <div class="flex-shrink-0">
                        <i class="fa fa-chevron-down font-10 accordion-icon"></i>
                    </div>
                </div>
            </button>
            <div id="collapse4" class="collapse" data-bs-parent="#accordion-4">
                <div class="pt-3 pb-2 ps-3 pe-3">
                    {% if hasRoutines %}
                    <div class="list-group list-custom-small">
                        {% for routine in routines %}
                        <div class="list-group-workout-item text-uppercase fs-4 my-routine-{{ routine.id }}">
                            <div class="row">
                                <div class="col-12 col-md-8 text-center text-md-start">
                                    <span class="view-routine routine-name routine-name-{{ routine.id }}" data-id="{{ routine.id }}">{{ routine.name }}</span>
                                    <input
                                            id="routine-name-{{ routine.id }}"
                                            type="text"
                                            class="d-none form-control fs-2 edit-routine-name"
                                            value="{{ routine.name }}"
                                            name="routine-name"
                                            data-id="{{ routine.id }}"
                                    />
                                </div>
                                <div class="col-12 col-md-4 text-center text-md-end fs-6" style="letter-spacing: 15px;">
                                    <span><i class="fa-regular fa-eye view-routine" data-id="{{ routine.id }}"></i></span>
                                    <span><i class="fa-regular fa-pen-to-square edit-routine edit-routine-{{ routine.id }}" data-id="{{ routine.id }}"></i></span>
                                    <i class="fa-solid fa-check color-green-light save-routine-{{ routine.id }} d-none"></i>
                                    <span><i class="fa-regular fa-trash delete-routine" data-id="{{ routine.id }}"></i></span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="pt-3 pb-3">
                        <p class="fs-4" style="line-height: 32px;"><span>You have not generated any routines with our AI Fitness Trainer. On the home page, click on the star icon to get started.</span></p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mb-2">
            <button class="btn accordion-btn no-effect color-theme rounded account-heading fs-4 fw-normal exercises-btn" data-bs-toggle="collapse" data-bs-target="#collapse2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="flex-shrink-0" style="width: 50px;">
                        <i class="fa-solid fa-dumbbell color-yellow-dark me-2"></i>
                    </div>
                    <div class="flex-grow-1">
                        Your Exercises
                    </div>
                    <div class="flex-shrink-0">
                        <i class="fa fa-chevron-down font-10 accordion-icon"></i>
                    </div>
                </div>
            </button>
            <div id="collapse2" class="collapse" data-bs-parent="#accordion-1">
                <div class="pt-3 pb-2 ps-3 pe-3">
                    {% if hasExercises %}
                    <div class="list-group list-custom-small">
                        {% for k, exercise in exercises %}
                        {% set key = k + 1 %}
                        <div class="list-group-workout-item my-exercise-{{ exercise.id }} text-uppercase fs-4">
                            <div class="row">
                                <div class="col-12 col-md-8 text-center text-md-start">
                                    <span class="item-name item-name-{{ key }}">{{ exercise.name }}</span>
                                    <input
                                            id="item-name-{{ key }}"
                                            type="text"
                                            class="d-none form-control fs-2 edit-workout-name"
                                            value="{{ exercise.name }}"
                                            name="item-name"
                                            data-id="{{ exercise.id }}"
                                            data-key="{{ key }}"
                                    />
                                    <input type="hidden" class="item-id item-id-{{ key }}" value="{{ exercise.id }}" />
                                    <input type="hidden" class="item-key item-key-{{ key }}" value="{{ key }}" />
                                </div>
                                <div class="col-12 col-md-4 text-center text-md-end fs-6" style="letter-spacing: 15px;">
                                    <span><i class="fa-regular fa-pen-to-square edit-item edit-item-{{ key }}" data-key="{{ key }}"></i></span>
                                    <i class="fa-solid fa-check color-green-light save-item-{{ key}} d-none"></i>
                                    <i class="fa-regular fa-trash delete-custom-exercise" data-id="{{ exercise.id }}"></i>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="pt-3 pb-3">
                        <p class="fs-4" style="line-height: 32px;"><span>You have not created any exercises yet.</span></p>
                    </div>
                    {% endif %}
                    <p class="mb-3"><a href="/create_new_exercise" class="btn btn-primary fs-5 rounded">Create New Exercise</a></p>
                </div>
            </div>
        </div>
        <div class="mb-2">
            <button class="btn accordion-btn no-effect color-theme rounded account-heading fs-4 fw-normal" data-bs-toggle="collapse" data-bs-target="#collapse3">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="flex-shrink-0" style="width: 50px;">
                        <i class="fa-solid fa-user color-green-dark me-2"></i>
                    </div>
                    <div class="flex-grow-1">
                        User Info
                    </div>
                    <div class="flex-shrink-0">
                        <i class="fa fa-chevron-down font-10 accordion-icon"></i>
                    </div>
                </div>
            </button>
            <div id="collapse3" class="collapse"  data-bs-parent="#accordion-1">
                <div class="pt-3 pb-2 ps-3 pe-3">

                    <div class="alert alert-success account-success d-none">
                        Saved.
                    </div>

                    <div class="input-style has-borders has-icon mb-4">
                        <i class="fa fa-user"></i>
                        <input type="name" value="{{ USER.name }}" class="form-control user-name fs-6" id="form1" placeholder="Name">
                        <i class="fa fa-times disabled invalid color-red-dark"></i>
                        <i class="fa fa-check disabled valid color-green-dark"></i>
                    </div>

                    <div class="input-style has-borders has-icon mb-4">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" value="{{ USER.email }}" class="form-control user-email fs-6" id="form2" placeholder="Email">
                        <i class="fa fa-times disabled invalid color-red-dark"></i>
                        <i class="fa fa-check disabled valid color-green-dark"></i>
                    </div>

                    <div class="input-style has-borders has-icon mb-4">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" class="form-control user-password fs-6" id="form3" placeholder="Password">
                        <i class="fa fa-times disabled invalid color-red-dark"></i>
                        <i class="fa fa-check disabled valid color-green-dark"></i>
                    </div>

                    <div class="pb-3">
                        <input type="button" class="btn btn-primary save-account fs-5 rounded" value="Save" />
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="pt-3 pb-3 fs-6">
        <p class="text-center">
            <a href="/logout" class="btn btn-xs btn-secondary mr-5 rounded" style="margin-right: 15px !important;">Logout</a>
            <a href="/delete_account" class="btn btn-xs btn-danger rounded">Delete Account</a>
        </p>
    </div>

{% endblock %}

{% block scripts %}
    <script>

        {% if showExercises %}
        setTimeout(function() {
            $(".exercises-btn").click();
        }, 250);
        {% endif %}

        $("body").on("click", ".edit-item", function() {
            let key = $(this).parent("span").parent("div").parent("div").find(".item-key").val();
            $(".item-name-" + key).addClass("d-none");
            $(".item-key-" + key).addClass("d-none");
            $("#item-name-" + key).removeClass("d-none");
            $(this).addClass("d-none");
            $(".save-item-" + key).removeClass("d-none");
            $("#item-name-" + key).focus();
        });

        $("body").on("blur", ".edit-workout-name", function() {
            let name = $(this).val();
            let key = $(this).parent("div").find(".item-key").val();
            let id = $(this).parent("div").find(".item-id").val();
            let routine_id = $(".routine-id").val();

            $(".item-name-" + key).removeClass("d-none");
            $(".item-key-" + key).removeClass("d-none");
            $("#item-name-" + key).addClass("d-none");

            $(".edit-item-" + key).removeClass("d-none");
            $(".save-item-" + key).addClass("d-none");

            $.post({
                type: "POST",
                url: "/ajax/edit_exercise",
                data: {
                    id: id,
                    name: name,
                    routine_id: routine_id,
                    save: true,
                },
                success: function (result) {
                    $(".item-name-" + key).text(result.name);
                    $("#item-name-" + key).val(result.name).attr("data-id", result.id);
                    $(".item-id-" + key).val(result.id);
                }
            });
        });

        $(".save-account").click(function() {
            let name = $(".user-name").val();
            let email = $(".user-email").val();
            let password = $(".user-password").val();

            $.post({
                type: "POST",
                url: "/ajax/save_account",
                data: {
                    name: name,
                    email: email,
                    password: password
                },
                success: function (result) {
                    // update the ID
                    $(".account-success").removeClass("d-none");

                    setTimeout(function() {
                        $(".alert-success").addClass("d-none");
                    }, 2000);
                }
            });
        });

        $(".edit-routine").click(function() {
            let routine_id = $(this).attr("data-id");
            $(".routine-name-" + routine_id).addClass("d-none");
            $("#routine-name-" + routine_id).removeClass("d-none");
            $(this).addClass("d-none");
            $(".save-routine-" + routine_id).removeClass("d-none");
            $("#routine-name-" + routine_id).focus();
        });

        $(".edit-routine-name").blur(function() {
            let name = $(this).val();
            let routine_id = $(this).attr("data-id");

            $(".routine-name-" + routine_id).removeClass("d-none");
            $("#routine-name-" + routine_id).addClass("d-none");

            $(".edit-routine-" + routine_id).removeClass("d-none");
            $(".save-routine-" + routine_id).addClass("d-none");

            $.post({
                type: "POST",
                url: "/ajax/edit_routine",
                data: {
                    name: name,
                    routine_id: routine_id
                },
                success: function (result) {
                    $(".routine-name-" + routine_id).text(result.name);
                    $("#routine-name-" + routine_id).val(result.name);
                }
            });
        });

        $(".view-routine").click(function() {
            let routine_id = $(this).attr("data-id");
            window.open("/?routine_id=" + routine_id, "_self");
        });

        $(".delete-custom-exercise").click(function() {
            let exercise_id = $(this).attr('data-id');

            if (confirm("Are you sure you want to delete this?")) {
                $.post({
                    type: "POST",
                    url: "/ajax/delete_exercise",
                    data: {
                        exercise_id: exercise_id
                    },
                    success: function (result) {
                        if (result.status === 'success') {
                            $(".my-exercise-" + exercise_id).slideUp(250);
                            setTimeout(function() {
                                $(".my-exercise-" + exercise_id).remove();
                            }, 250);
                        } else {
                            alert(result.message);
                        }
                    }
                });
            }
        });

        $(".delete-favorite").click(function() {
            let routine_id = $(this).attr('data-id');

            if (confirm("Are you sure you want to remove this favorite?")) {
                $.post({
                    type: "POST",
                    url: "/ajax/delete_favorite",
                    data: {
                        routine_id: routine_id
                    },
                    success: function (result) {
                        if (result.status === 'success') {
                            $(".my-favorite-routine-" + routine_id).slideUp(250);
                            setTimeout(function() {
                                $(".my-favorite-routine-" + routine_id).remove();
                            }, 250);
                        } else {
                            alert(result.message);
                        }
                    }
                });
            }
        });

        $(".delete-routine").click(function() {
            let routine_id = $(this).attr('data-id');

            if (confirm("Are you sure you want to delete this?")) {
                $.post({
                    type: "POST",
                    url: "/ajax/delete_routine",
                    data: {
                        routine_id: routine_id
                    },
                    success: function (result) {
                        if (result.status === 'success') {
                            $(".my-routine-" + routine_id).slideUp(250);
                            setTimeout(function() {
                                $(".my-routine-" + routine_id).remove();
                            }, 250);
                        } else {
                            alert(result.message);
                        }
                    }
                });
            }
        });
    </script>

    {{ parent() }}
{% endblock %}